<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />

{# 	Site data #}
	<meta content="#000000" name="theme-color" />
	<meta property="og:site_name" content="{{ app_name }}{% if motd %} | {{ motd }}{% endif %}">

{#  Basic card info #}
    {%- if video -%}
        <meta name="twitter:card" content="player" />
        <meta name="twitter:title" content="{{ miniheader }} | {{ header }}"/>
    {%- else -%}
        <meta name="twitter:card" content="{{ card_type }}" />
        <meta name="twitter:title" content="{{ header }}"/>
    {%- endif -%}

	{%- if image -%}
    	<meta name="twitter:image" content="{{ image }}" />
	    <meta property="og:image" content="{{ image }}" />
	{%- elif video_thumbnail -%}
    	<meta name="twitter:image" content="{{ video_thumbnail }}" />
	    <meta property="og:image" content="{{ video_thumbnail }}" />
	{%- elif pfp -%}
    	<meta name="twitter:image" content="{{ pfp }}" />
	    <meta property="og:image" content="{{ pfp }}" />
	{%- endif -%}
    {%- if not video -%}
    <meta name="twitter:creator" content="@{{ op }}" />
    {%- endif -%}

{#  Video data #} {%- if video -%}
    <meta name="twitter:player:width" content="{{ video.width }}" />
    <meta name="twitter:player:height" content="{{ video.height }}" />
    <meta name="twitter:player:stream" content="{{ video.url }}" />
    <meta name="twitter:player:stream:content_type" content="video/mp4" />

    <meta property="og:url" content="{{ video.url }}" />
    <meta property="og:video" content="{{ video.url }}" />
    <meta property="og:video:secure_url" content="{{ video.url }}" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="{{ video.width }}" />
    <meta property="og:video:height" content="{{ video.height }}" />
{% endif %}

    <meta property="og:description" content="{{ desc }}" />

    <link rel="alternate" href="{{ base_url }}/oembed.json?{% if video %}desc={{ desc | urlencode }}&op={{ miniheader | urlencode }}%20%7C%20{{ header | urlencode }}{% else %}desc={{ miniheader | urlencode }}&op={{ header | urlencode }}{% endif %}&link={{ posturl | urlencode }}&ttype=video" type="application/json+oembed" title="{{ miniheader }}">
    <!--<meta http-equiv = "refresh" content = "0; url = {{ posturl }}" />-->

	<style>
		body { background-color: rgb(0, 25, 53); color: #fff; font-size: 1.25rem; font-weight: 700; display: flex; align-items: center; justify-content: center; font-family: arial; height: 100vh; margin: 0; }
		.small { color: rgba(255, 255, 255, .65); font-size: .875rem; font-weight: 400; }
		.small a { color: rgba(255, 255, 255, .85); }
		@media (prefers-color-scheme: dark) { body { background-color: rgb(0, 0, 0); color: #fff; } }
	</style>
</head>
<body>
<div><p>Redirecting you to the post in a moment.</p><p class="small">In case your browser doesn't redirect you automatically, <a href="{{ posturl }}">click here to go to the post.</a></p></div>
</body>
</html>
