<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<meta name="viewport" content="width=device-width">
	<meta content="#ff0000" name="theme-color" />
	<meta property="og:site_name" content="{{ app_name }}">
    <meta property="og:title" content="Profile only available to logged-in users"/>
    <meta property="og:description" content="If you have a Tumblr account, click this link to go to the linked post." />

	<style>
		body { background-color: rgb(0, 25, 53); color: #fff; font-size: 1.25rem; font-weight: 700; display: flex; align-items: center; justify-content: center; font-family: arial; height: 100vh; margin: 0; }
		.small { color: rgba(255, 255, 255, .65); font-size: .875rem; font-weight: 400; }
		.small a { color: rgba(255, 255, 255, .85); }
		@media (prefers-color-scheme: dark) { body { background-color: rgb(0, 0, 0); color: #fff; } }
	</style>

    <meta http-equiv = "refresh" content = "0; url = {{ posturl }}" />
</head>
<body>
<div><p>Redirecting you to the post in a moment.</p><p class="small">In case your browser doesn't redirect you automatically, <a href="{{ posturl }}">click here to go to the post.</a></p></div>
</body>
</html>
