app_name: "fxtumblr"
base_url: "https://your-fxtumblr-instance.here"
motd: ""

max_images_in_thread: 30

cache_path: './cache.json'
cache_expiry: 43200 # 12 hours

renders_enable: false
renders_path: "./renders"
renders_debug: false

# Get these from your app's info at https://www.tumblr.com/oauth/apps
tumblr_consumer_key: "FIXME"
tumblr_consumer_secret: "FIXME"
