# Docker Compose file for running fxtumblr. **Please read docker/README.md first.**
# (This file expects to be moved into the main fxtumblr source code directory!)

services:
  # Redis is used for the post cache, which is shared between the main fxtumblr
  # container and the renderer container.
  redis:
    image: redis:8-alpine
    restart: unless-stopped

  fxtumblr-render:
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: fxtumblr-render

    restart: unless-stopped
    volumes:
      - ./config.toml:/opt/fxtumblr/config.toml
      - renders:/opt/fxtumblr/renders

  fxtumblr:
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: fxtumblr
    restart: unless-stopped
    volumes:
      - ./config.toml:/opt/fxtumblr/config.toml
      - renders:/opt/fxtumblr/renders
    ports:
      # host:container. You can change the host port if you need.
      # This needs to be routed to a reverse proxy.
      - "7878:7878"

volumes:
  renders:
  fonts:
